<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>hoyeon To App</h1>
    <todo-list category>취업</todo-list>
    <todo-list category>싸피</todo-list>
    <todo-list category>쇼핑</todo-list>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.componet('todo-list', {
      templates:
      <div class="todo-list">
        <h1>{{category}}</h1>
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <button v-on:click="addTodo">+</button>
        <li v-for="todo in todos" v-bind:key="todo.id">
          <span>{{ todo.content }}</span>
          <button v-on:click="removeTodo(todo.id)">x</button>
        </li>
    </div>
    ,
      data: {function(){
        return {
          todos: [],
          newTodo: [],
        }
      }},
      methods: {}
    })
  </script>
  <script>
    const app = new Vue({
      el:'app'
    })
  </script>
</body>
</html>